* {
  box-sizing: border-box;
}

.left{
  width: 300px;
  height: 100vh;
  color: #FFFFFF;
  .side__top{
    background-color: #253141;
    padding: 20px;
    height: 100px;
    width: 100%;
    &__user{
      // height:50px;
      // width: calc(100% - 40px);
      // line-height:50px;
      // padding: 35px 20px 0 20px;
      line-height: 60px;
      display: flex;
      justify-content: space-between;
      &__name{
        font-weight:bold;
        font-size: 20px;
      }
      &__edit{
        .icon__pencil {
          text-decoration: none;
          font-size: 20px;
          margin-left: 6px;
          color: #FFFFFF;
      }
      }
    }
  }
  .side__bottom{
    background-color: #2f3e51;
    height: calc( 100% - 100px );
    width: 100%;
    overflow:auto;
    &__list{
      height: 100%;
      &__group{
        padding-left: 20px;
        color: #FFFFFF;
        text-decoration: none;
        .list{
          text-decoration: none;
          padding: 20px;
        }
        &__name{
          font-size: 15px;
          color: #FFFFFF;
        }
        &__message{
          margin-top: 5px;
          font-size: 11px;
          color: #FFFFFF;
        }
      }
    }
  }
}
